<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
	<RunConfiguration>
		<MaxCpuCount>2</MaxCpuCount>
		<!-- Path relative to directory that contains .runsettings file-->
		<!--<ResultsDirectory>.\TestResults</ResultsDirectory>-->

		<!-- x86 or x64 -->
		<!-- You can also change it from the Test menu; choose "Processor Architecture for AnyCPU Projects" -->
		<!--<TargetPlatform>x86</TargetPlatform>-->

		<!-- Framework35 | [Framework40] | Framework45 -->
		<!--<TargetFrameworkVersion>Framework40</TargetFrameworkVersion>-->

		<!-- Path to Test Adapters -->
		<!--<TestAdaptersPaths>%SystemDrive%\Temp\foo;%SystemDrive%\Temp\bar</TestAdaptersPaths>-->

		<!-- TestSessionTimeout was introduced in Visual Studio 2017 version 15.5 -->
		<!-- Specify timeout in milliseconds. A valid value should be greater than 0 -->
		<!--<TestSessionTimeout>10000</TestSessionTimeout>-->

		<!-- true or false -->
		<!-- Value that specifies the exit code when no tests are discovered -->
		<TreatNoTestsAsError>true</TreatNoTestsAsError>
	</RunConfiguration>
	<TestRunParameters>
		<Parameter name="browser" value="hchrome" />
		<Parameter name="url" value="https://test.echoweb.co.uk/" />
		<Parameter name="host" value="172.26.115.195" />
		<Parameter name="useIntegratedSecurity" value="false" />
		<Parameter name="dbname" value="test" />
		<Parameter name="dbusername" value="trang" />
		<Parameter name="dbpassword" value="s3ew$KEa" />
	</TestRunParameters>
	<!-- Configuration for loggers -->
	<LoggerRunSettings>
		<Loggers>
			<Logger friendlyName="console" enabled="True">
				<Configuration>
					<Verbosity>normal</Verbosity>
				</Configuration>
			</Logger>
		</Loggers>
	</LoggerRunSettings>
</RunSettings>